.container-together {
    width: 100%;
    max-width: 1013px;
    margin: 2rem auto;
    max-height: 127px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 0.5rem;
    background-image: linear-gradient(to right, #1881B3, #05AAA1);
    padding: 1rem 1.5rem;


    .together-left {
        h1 {
            font-size: 24px;
            margin-bottom: 1rem;
        }
        p {
            font-size: 16px;
        }
    }

    .together-right {
        a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 165px;
            height: 45px;
            border: 1px solid #0796b9;
            background-image: linear-gradient(to right, #1881B3, #05AAA1);
            border-radius: 33px;
            color: white;
        }
    }
}